
version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    parallelism: 4
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: test
          command: |
            echo "CIRCLE_NODE_TOTAL:${CIRCLE_NODE_TOTAL}"
            echo "CIRCLE_NODE_INDEX:${CIRCLE_NODE_INDEX}"
            echo "CIRCLE_BRANCH:${CIRCLE_BRANCH}"
            echo "CIRCLE_BUILD_NUM:${CIRCLE_BUILD_NUM}"
            echo "CIRCLE_BUILD_URL:${CIRCLE_BUILD_URL}"
            echo "CIRCLE_PREVIOUS_BUILD_NUM:${CIRCLE_PREVIOUS_BUILD_NUM}"
            echo "CIRCLE_SHA1 =: $CIRCLE_SHA1"
            GIT_COMMIT_DESC=$(git log --format=full -n 1 $CIRCLE_SHA1)
            echo "GIT_COMMIT_DESC:$GIT_COMMIT_DESC"

workflows:
  version: 2
  build:
    jobs: 
      - build 
      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples

 
